@import '../vendor/fonts.css';
@import '../vendor/normalize.css';
.page {
  background-color: #191D2C;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  border: solid #E1FD2C;
  border-width: 0 0 1px;
  background-color: #191D2C;
  width: 100%;
  max-width: 1440px;
}
@media screen and (min-width: 1442px) {
  .header {
    border: solid #E1FD2C;
    border-width: 0 1px 1px;
  }
}
.header__list {
  display: flex;
  list-style-type: none;
  margin: 0 0 0 50px;
  padding: 0;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #E1FD2C;
}
.header__item {
  margin: 0 20px 0 0;
}
.header__title {
  margin: 16px 0 16px 0;
  flex-grow: 2;
  position: relative;
  left: -132px;
}
.header__menu-btn {
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border: none;
  justify-content: center;
  margin: 25px 45px 25px 25px;
  padding: 0;
  display: none;
}
.header__line {
  margin: 0 0 7px;
}
.header__line:last-child {
  margin: 0;
}

.main {
  background-color: #191D2C;
  max-width: 1440px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.bus {
  display: grid;
  color: #E1FD2C;
  padding: 150px 0 150px calc(100% - 1360px);
  grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
  grid-template-columns: minmax(560px, 1680px) minmax(700px, 720px);
  -moz-column-gap: 80px;
       column-gap: 80px;
  border: solid #E1FD2C;
  border-width: 0 0 1px;
}
.bus__paragraph {
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 30px 0;
  margin: 0;
}
.bus__paragraph:nth-child(3) {
  grid-row: 3/4;
  padding: 51px 0 62px 0;
}
@media screen and (max-width: 1340px) {
  .bus__paragraph:nth-child(3) {
    padding: 51px 0 100px;
  }
}
@media screen and (max-width: 1340px) {
  .bus__paragraph {
    padding: 0 0 30px 0;
  }
}
.bus__title {
  color: inherit;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 73px;
  text-align: center;
  display: block;
  grid-row: 2/3;
  grid-column: 1/2;
  margin: 0;
}
.bus__img {
  grid-column: 2/3;
  grid-row: 1/5;
  justify-self: end;
}
@media screen and (max-width: 1340px) {
  .bus__img {
    grid-column: 1/2;
    grid-row: 5/6;
    justify-self: center;
    padding: 0 0 100px;
  }
}
.bus__button {
  grid-column: 1/2;
  grid-row: 4/5;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: inherit;
  background-color: #191D2C;
  border: 1px solid #E1FD2C;
  box-sizing: border-box;
  min-width: 360px;
  text-decoration: none;
  justify-self: center;
  max-height: 64px;
}
.bus__button:hover {
  color: #191D2C;
  background-color: #E1FD2C;
}
@media screen and (max-width: 1340px) {
  .bus__button {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
@media screen and (max-width: 1340px) {
  .bus {
    display: grid;
    color: #E1FD2C;
    padding: 100px 34px;
    grid-template-rows: minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content) minmax(-webkit-min-content, -webkit-max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
    grid-template-columns: minmax(700px, 1271px);
    border: solid #E1FD2C;
    border-width: 0 0 1px;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}

.characteristics {
  display: flex;
  flex-wrap: wrap;
}
.characteristics__column {
  padding: 41px 50px 45px;
  max-width: 50%;
  border: solid #E1FD2C;
  border-width: 0 1px 1px 0;
  box-sizing: border-box;
}
.characteristics__column_small {
  min-width: 25%;
}
@media screen and (max-width: 1100px) {
  .characteristics__column_small:last-child {
    border-width: 0 0 1px;
  }
}
@media screen and (max-width: 1100px) {
  .characteristics__column_small:nth-child(2) {
    border-width: 0 1px 1px 0;
  }
}
@media screen and (max-width: 1100px) {
  .characteristics__column_small {
    width: 50%;
    box-sizing: border-box;
    min-height: 505px;
  }
}
@media screen and (max-width: 1100px) {
  .characteristics__column {
    max-width: 100%;
    border-width: 0 0 1px;
  }
}
.characteristics__paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
  line-height: 42px;
  color: #E1FD2C;
}
.characteristics__highlight {
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: #E1FD2C;
}
.characteristics__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 37px;
  color: #E1FD2C;
}
.characteristics__list {
  padding: 0;
}
.characteristics__list_plus {
  list-style-type: "+";
  padding: 0 0 0 11px;
}
.characteristics__list_minus {
  list-style-type: "-";
  border-radius: 0;
  padding: 0 0 0 7px;
}
.characteristics__item {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 21px;
  font-style: normal;
  line-height: 32px;
  color: #E1FD2C;
  padding: 0 0 0 5px;
  margin: 0;
}
@media screen and (max-width: 1100px) {
  .characteristics {
    border: none;
  }
}

.gallery {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: solid #E1FD2C;
  border-width: 0 1px 0 0;
  max-width: 50%;
  box-sizing: border-box;
}
.gallery__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 50px;
}
.gallery__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 46px;
  font-style: normal;
  line-height: 46px;
  color: #E1FD2C;
  max-width: 300px;
  padding: 0;
  margin: 0;
}
.gallery__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (max-width: 1100px) {
  .gallery__img {
    max-width: 700px;
    padding: 34px calc(50% - 350px) 0;
  }
}
.gallery__slider {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.gallery__slider:first-child {
  padding: 0 30px 0 0;
}
@media screen and (max-width: 1100px) {
  .gallery {
    max-width: 100%;
    border-width: 0;
  }
}

.press {
  display: flex;
  width: 100%;
}
.press__column {
  width: calc(50% + 1px);
  border: solid #E1FD2C;
  border-width: 1px 0 0;
  color: #E1FD2C;
  min-height: 500px;
  padding: 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.press__column:first-child {
  border: solid #E1FD2C;
  border-width: 1px 1px 0 0;
}
.press__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 46px;
  font-style: normal;
  line-height: 46px;
  color: inherit;
  margin: 0;
}
.press__paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 30px;
  font-style: normal;
  line-height: 43px;
  margin: 0;
}
.press__highlight {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  line-height: 42px;
  color: inherit;
}
.press__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.press__link {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  line-height: 28px;
  color: #E1FD2C;
  border: 1px solid #E1FD2C;
  border-radius: 100%;
  padding: 12px 26px;
  text-decoration: none;
}
.press__link:hover {
  background-color: #E1FD2C;
  color: #191D2C;
  cursor: pointer;
}
.press__label {
  margin: 0 8px 0 0;
}
.press__radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 0;
}
.press__radio:checked + .press__label > .press__circle {
  background-image: url(../../images/press__circle.png);
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;
  min-height: 316px;
}
.footer__column {
  width: calc(50% + 1px);
  color: #E1FD2C;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: solid #E1FD2C;
  border-width: 1px 1px 0 0;
}
.footer__column:last-child {
  border-width: 1px 0 0 0;
  justify-content: space-between;
}
.footer__title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 46px;
  font-style: normal;
  line-height: 46px;
  color: inherit;
  margin: 0;
}
.footer__paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 19px;
  font-style: normal;
  line-height: 28px;
  color: inherit;
  margin: 16px 0 0;
}
.footer__logo {
  margin: 0 0 0 auto;
}
.footer__copyright {
  margin: 0 0 0 auto;
}

.form {
  margin: auto 0 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 340px;
  box-sizing: border-box;
  color: #E1FD2C;
}
.form__text-inp {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 9px;
  font-style: normal;
  line-height: 18px;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 170px;
  box-sizing: border-box;
  padding: 7px 0 7px 11px;
  border: solid #E1FD2C;
  border-width: 1px 1px 1px 0;
  background-color: #191D2C;
  cursor: pointer;
}
.form__text-inp[type=email] {
  border: solid #E1FD2C;
  border-width: 0 0 1px 1px;
  width: 260px;
}
.form__text-inp[type=email]:focus {
  border: solid #E1FD2C;
  border-width: 0 0 1px 1px;
}
.form__text-inp:focus {
  border: solid #E1FD2C;
  border-width: 1px 1px 1px 0;
  outline: none;
}
.form__text-inp:focus::-moz-placeholder {
  color: transparent;
}
.form__text-inp:focus:-ms-input-placeholder {
  color: transparent;
}
.form__text-inp:focus::placeholder {
  color: transparent;
}
.form__text-inp:first-child {
  border: 1px solid #E1FD2C;
}
.form__text-inp:first-child:focus {
  border: 1px solid #E1FD2C;
  outline: none;
}
.form__text-inp::-moz-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 9px;
  font-style: normal;
  line-height: 18px;
  color: #E1FD2C;
}
.form__text-inp:-ms-input-placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 9px;
  font-style: normal;
  line-height: 18px;
  color: #E1FD2C;
}
.form__text-inp::placeholder {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 9px;
  font-style: normal;
  line-height: 18px;
  color: #E1FD2C;
}
.form__subm-btn {
  background-color: #E1FD2C;
  color: #191D2C;
  border: 0;
  width: 80px;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */