.footer{
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1440px;
  min-height: 316px;

  &__column{
    width: calc(50% + 1px);
    color: $color;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: solid $color;
    border-width: 1px 1px 0 0;
    box-sizing: border-box;

    &:last-child{
      border-width: 1px 0 0 0;
      justify-content: space-between;

      @media screen and (max-width: 1100px) {
        &{
          padding: 50px 50px 50px 0;
          max-width: 234px;
          border-width: 0;
        }
      }
    }

    @media screen and (max-width: 1100px) {
      &{
        border-width: 0;
      }
    }

    @media screen and (max-width: 880px) {
      &{
        width: fit-content;
      }
    }
  }

  &__title{
    @include text($family: $font-family, $weight: 400, $height: 46px, $size: 46px);
    color: inherit;
    margin: 0;
  }

  &__paragraph{
    @include text($family: $font-family, $weight: 400, $height: 28px, $size: 19px);
    color: inherit;
    margin: 16px 0 0;
  }

  &__logo{
    margin: 0 0 0 auto;
  }

  &__copyright{
    margin: 0 0 0 auto;
  }

  @media screen and (min-width: 1442px) {
    border: solid $color;
    border-width: 0 1px 1px;
  }

  @media screen and (max-width: 1100px) {
    &{
      justify-content: space-between;
      border: solid $color;
      border-width: 1px 0 0;
    }
  }
}